.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 10px;
	min-width: 234px;
	max-width: 25%;
	height: auto;
	display: flex;
	padding: 20px;
	justify-content: space-between;
}
.card img {
	max-width: 100%;
}

.card h5 {
	padding-top: 10px;
	text-align: center;
}

